/* VARIABLES */
:root {
    --color-verde-oscuro: rgb(20, 55, 24);
}

/* ESTRUCTURA GENERAL */
body {
    font-family: 'Familjen Grotesk', sans-serif;
    color: black;
    min-height: 100vh;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contenedor-juego {
    display: grid;
    grid-template-areas:
        "header"
        "opciones"
        "resultado";
    gap: 10px;
}

header {
    margin-top: 0;
    grid-area: header;
}

header h1 {
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(54, 50, 57);
}

#imagenEleccionJugador,
#imagenEleccionCompu,
#vs {
    visibility: hidden;
}

/* OPCIONES DEL JUEGO */
.opciones {
    display: grid;
    grid-area: opciones;
    margin-top: 45px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 16px;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0px;
}

.opcion {
    background: none;
    border: none;
    cursor: pointer;
}

.opcion img {
    width: 150px;
    height: 150px;
    margin: 0px;
}

.opcion:hover {
    filter: drop-shadow(8px 8px 20px black);
    transform: scale(1.25);
}

.opcion:disabled {
    cursor: not-allowed;
    transform: none;
    filter: none;
}


/* RESULTADO */
.resultado {
    display: grid;
    grid-area: resultado;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 20px auto auto;
    grid-gap: 16px;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}

.resultado #enunciado {
    grid-column: 1 / -1;
}

.resultado #contador {
    grid-column: 1 / -1;
}

#contador {
    font-size: 65px;
    font-weight: bold;
    color: var(--color-verde-oscuro);
}

.resultado #imagenEleccionJugador {
    grid-column: 1 / 2;
}

.resultado #vs {
    grid-column: 2 / 3;
    text-shadow: 2px 2px 5px var(--color-verde-oscuro);
    font-size: 35px;
    color: white;
}

.resultado #imagenEleccionCompu {
    grid-column: 3 / 4;
}

.resultado #mensajeResultado {
    grid-column: 1 / -1;
}

.resultado img {
    width: 150px;
    height: 150px;
    margin: 0px;
    transition: transform 0.3s ease-in-out;
}

.resultado--empate {
    color: yellow;
    text-shadow: 2px 2px 5px rgb(156, 156, 55);
    animation: crecerVolver 1s ease-in-out;
    font-size: 2.5rem;
}

.resultado--ganaste {
    color: green;
    text-shadow: 2px 2px 5px rgb(34, 71, 34);
    animation: crecerVolver 1s ease-in-out;
    font-size: 2.5rem;
}

.resultado--perdiste {
    color: red;
    text-shadow: 2px 2px 5px rgb(88, 32, 32);
    animation: crecerVolver 1s ease-in-out;
    font-size: 2.5rem;
}

/* ANIMACIONES & TRANSICIONES */
.mostrar-contador {
    animation: zoom 0.5s ease;
}

#mensajeResultado.agrandar {
    animation: crecerVolver 1s ease-in-out;
}

.resultado img.agrandar {
    animation: crecer 0.5s ease;
}

#vs.agrandar {
    animation: crecer 0.5s ease;
}

@keyframes zoom {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}

@keyframes crecer {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes crecerVolver {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
    body {
        height: auto;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 2rem;
        text-align: center;
        color: var(--color-verde-oscuro);
    }

    .contenedor-juego {
        gap: 10px;
    }

    .opcion img {
        width: 120px;
        height: 120px;
        margin: 0px;
    }

    .opcion:focus {
        filter: drop-shadow(8px 8px 20px rgba(0, 0, 0, 0.7));
        transform: scale(1.25);
    }

    .opciones {
        grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
    }
}
